.paddingbox1 { padding:0px; }
.paddingbox2 { padding:0px; }
.paddingbox3 { padding:0px; }
.paddingbox4 { padding:0px; padding-right:10px; }
.paddingbox5 { padding:0px; }
.paddingbox6 { padding:0px; padding-left:10px; }
.paddingbox7 { padding:0px; padding-right:10px; }
.paddingbox8 { padding:0px; }
.paddingbox9 { padding:0px; padding-left:10px; }
.paddingbox10 { padding:0px; padding-right:10px; }
.paddingbox11 { padding:0px; }
.paddingbox12 { padding:0px; padding-left:10px; }
.paddingbox13 { padding:0px; }
.paddingbox14 { padding:0px; padding-left:10px; }
.paddingbox15 { padding:0px; }
/* ---------------------------------- */
#news5 , #news5i1 , #news5i2 { display:table; width:100%; }
#news6 , #news6i1 , #news6i2 { display:table; width:100%; }
#hotclip5 , #hotclip5i1 , #hotclip5i2 { display:table; width:100%; }
#hotclip6 , #hotclip6i1 , #hotclip6i2 { display:table; width:100%; }
#picture6 , #picture6i1 , #picture6i2 { display:table; width:100%; }
#sport7 , #sport7i1 , #sport7i2 { display:table; width:100%; }
#politics6 , #politics6i1 , #politics6i2 { display:none; }
#general6 , #general6i1 , #general6i2 { display:table; width:100%; }
#knowledge6 , #knowledge6i1 , #knowledge6i2 { display:table; width:100%; }

/* ---------------------------------- */
.hashtaghead { display: block; float:left!important; text-shadow: 1px 1px 1px rgba(150, 150, 150, 1); color:#eb0254; font-weight:bold; }
.categoryHashTags { display: block; float:left!important; color:#FFFFFF; background-color:#eb0254; padding:0px; padding-left:20px; padding-right:20px; font-size:16px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-left:6px; margin-top:10px; }
a.categoryHashTagsLink:link { color: #FFFFFF!important; text-decoration: none; font-size:18px; }
a.categoryHashTagsLink:visited { color: #FFFFFF!important; text-decoration: none; font-size:18px; }
a.categoryHashTagsLink:active { color: #FFFFFF!important; text-decoration: none; font-size:18px; }
a.categoryHashTagsLink:hover { color: #FFFFFF!important; text-decoration: none; font-size:18px; }

/* Frame2 Panel ---------------------------------- */
#hotnews1 { width:32%; height:auto; display: block; float:left!important;  } /* pull left */
#hotnews2 { width:32%; height:auto; display: block; float:right!important;  } /* pull rigth */
#hotnews3 { width:32%; height:auto; display: block; margin-left: auto; margin-right: auto; padding:1px; } /* pull center */
#hotnews4 { width:32%; height:auto; display: block; float:left!important;  } /* pull left */
#hotnews5 { width:32%; height:auto; display: block; float:right!important;  } /* pull rigth */
#hotnews6 { width:32%; height:auto; display: block; margin-left: auto; margin-right: auto; padding:1px; } /* pull center */
.linkbox2 { padding:10px; height:43px; overflow:hidden; text-align:left; font-weight:none; }

.boxindent21 { height:10px; border-style: solid; border-color: #dfdfdf; border-width: 0px 0px 1px 0px; }
.boxindent22 { height:10px; }
.tagbox2 { display:block; position: absolute; text-align:left; margin-left:0px; margin-top:-33px; }
/* ------------------------------------ */
.tabnews-active { color:#ea0654; display:block; width:<?php echo floor(100/$Config_TabBoxCount); ?>%; height:auto; text-align:center; float:left!important; font-size:18px; font-weight:bold; }
.tabnews { color:#000000; display:block; width:<?php echo floor(100/$Config_TabBoxCount); ?>%; height:auto; text-align:center; float:left!important; font-size:18px; font-weight:bold; }
/* ------------------------------------ */
.categoryTags2 { color:#FFFFFF; background-color:#eb0254; padding:1px; padding-left:10px; padding-right:10px; float:left!important; font-size:10px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.photoframe2-text { position: absolute; margin-top:-45px; left:0; height:42px; width: 100%; padding:20px; color:#FFFFFF; font-size:16px; overflow:hidden; text-align:center; text-shadow: 1px 1px 1px rgba(150, 150, 150, 1); }
/* ------------------------------------ */
#adsbanner06 { display: inline; }

.leaderboardads { height:150px; background: #5ab3db; color:#FFFFFF; font-size:10px; padding:20px; }
.makeBlock { display:inline-block; }

/* Featured Box ------------------------------------ */
.featuredbox { padding:1px; background-color:#000000; }
.featuredbox-frame { float:left!important;  height: auto; width:25%; padding:0; overflow:hidden; }
.featuredbox-image {  position: relative;  width: 100%; /* for IE 6 */ padding:0; }
.featuredbox-text { position: absolute; margin-top:-80px; left:0; height:80px; width: 100%; padding:10px; color:#FFFFFF; font-size:16px; overflow:hidden; text-align:center; text-shadow: 1px 1px 1px rgba(150, 150, 150, 1); }
.img-light { opacity: 0.8; } 
.img-light:hover { opacity: 1; }
.categoryTags { background-color:#eb0254; padding:1px; padding-left:10px; padding-right:10px; float:left!important; font-size:10px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.categoryTags2 { color:#AAAAAA; padding:4px; font-size:10px; }

/* Content Panel ---------------------------------- */
.panels { padding:0px; }
.headbar { font-size:24px; font-weight:bold; padding:0px; height:40px; }
.headbarbg1 { background: url('../img/hbar-bg.png'); height:40px; }
.headbarbg2 { background: url('../img/hbar-bg1.png') no-repeat; height:40px; }
.col-xxs-12 { }

/* Frame1 Panel ---------------------------------- */
.photoframe1 { float:left!important; width:30%; padding:0px; height:68px; overflow:hidden; }
.photoframe1x { display:none; }
.linkbox1 { float:right!important; width:70%; padding:5px; height:68px; overflow:hidden; text-align:left; padding-top:0px; }
.boxindent1 { height:5px; border-style: solid; border-color: #dfdfdf; border-width: 0px 0px 1px 0px; }
.boxindent2 { height:10px; }
.categoryTags1 { color:#FFFFFF; background-color:#eb0254; padding:1px; padding-left:5px; padding-right:5px; font-size:8px;  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.tagbox1 { display:inline-block; padding:0px; }
.tagbox1x { display:none; }

/* ------------------------------------ */
@media only screen and (max-width : 1200px) {   
    .paddingbox14 { padding:0px; padding-left:10px; }
    .leaderboardads { height:150px; }
    .featuredbox-frame { width:25%; }
    .featuredbox-text { font-size:16px; margin-top:-80px; }
    a.picturelink:link { font-size:12px!important; line-height: 16px; display:block; }
    a.picturelink:visited { font-size:12px!important; line-height: 16px; display:block; }
    a.picturelink:active { font-size:12px!important; line-height: 16px; display:block; }
    a.picturelink:hover { font-size:12px!important; line-height: 16px; display:block; }
    .col-xxs-12 { }
    .photoframe1 { float:left!important; width:30%; padding:0px; height:68px; overflow:hidden; }
    .photoframe1x { display:none; }
    .linkbox1 { float:right!important; width:70%; padding:5px; height:68px; overflow:hidden; text-align:left; padding-top:0px; }
    .tagbox1 { display:inline-block; padding:0px; }
    .tagbox1x { display:none; }
}
/* ------------------------------------ */
@media only screen and (max-width : 992px) {
    #news6 , #news6i1 , #news6i2 { display:none; }
    #hotclip5 , #hotclip5i1 , #hotclip5i2 { display:none; }
    #hotclip6 , #hotclip6i1 , #hotclip6i2 { display:none; }
    #politics6 , #politics6i1 , #politics6i2 { display:table; width:100%; }
    #general6 , #general6i1 , #general6i2 { display:none; }
    #knowledge6 , #knowledge6i1 , #knowledge6i2 { display:none; }
    #general5 , #general5i1 , #general5i2 { display:table; }
    .linkbox2 { padding:5px; height:55px; }
    .paddingbox6 { padding:0px; padding-right:10px; }
    .paddingbox10 { padding:0px; padding-right:10px; }
    .paddingbox11 { padding:0px; }
    .paddingbox12 { padding:0px; padding-right:10px; }
    .paddingbox14 { padding:0px; padding-left:10px; }

    #adsbanner06 { display:none; }
    .leaderboardads { height:150px; }
    .featuredbox-frame { width:25%; }
    .featuredbox-text { font-size:14px; margin-top:-70px; }
    a.picturelink:link { font-size:11px!important; line-height: 16px; display:block; }
    a.picturelink:visited { font-size:11px!important; line-height: 16px; display:block; }
    a.picturelink:active { font-size:11px!important; line-height: 16px; display:block; }
    a.picturelink:hover { font-size:11px!important; line-height: 16px; display:block; }
    .col-xxs-12 { }

    .photoframe1 { float:left!important; width:30%; padding:0px; height:68px; overflow:hidden; }
    .photoframe1x { display:none; }
    .linkbox1 { float:right!important; width:70%; padding:5px; height:68px; overflow:hidden; text-align:left; padding-top:0px; }
    .tagbox1 { display:inline-block; padding:0px; }
    .tagbox1x { display:none; }

}
/* ------------------------------------ */
@media only screen and (max-width : 768px) {
    #news5 , #news5i1 , #news5i2 { display:none; }
    #news6 , #news6i1 , #news6i2 { display:none; }
    #hotclip5 , #hotclip5i1 , #hotclip5i2 { display:table; width:100%; }
    #hotclip6 , #hotclip6i1 , #hotclip6i2 { display:none; }
    #picture6 , #picture6i1 , #picture6i2 { display:none; }
    #sport7 , #sport7i1 , #sport7i2 { display:none; }
    #general5 , #general5i1 , #general5i2 { display:none; }
    
    #hotnews1 { width:100%; height:auto; display: block; float:left!important;  } /* pull left */
    #hotnews2 { width:100%; height:auto; display: block; float:right!important;  } /* pull rigth */
    #hotnews3 { width:100%; height:auto; display: block; float:left!important;  } /* pull left */
    #hotnews4 { width:100%; height:auto; display: block; float:right!important;  } /* pull rigth */
    #hotnews5 { display:none; }
    #hotnews6 { display:none; }
    .linkbox2 { padding:5px; height:50px; }


    .paddingbox8 { padding:0px; padding-right:10px; }
    .paddingbox9 { padding:0px; }
    .paddingbox10 { padding:0px; padding-right:10px; }
    .paddingbox11 { padding:0px; }
    .paddingbox12 { padding:0px; padding-right:10px; }

    .paddingbox14 { width:100%; padding:0px; }
    
    .leaderboardads { height:200px; }
    .featuredbox-frame { width:25%; }
    .featuredbox-text { font-size:12px; margin-top:-60px; }
    a.picturelink:link { font-size:14px!important; line-height: 16px; display:block; }
    a.picturelink:visited { font-size:14px!important; line-height: 16px; display:block; }
    a.picturelink:active { font-size:14px!important; line-height: 16px; display:block; }
    a.picturelink:hover { font-size:14px!important; line-height: 16px; display:block; }
    .col-xxs-12 { }

    .photoframe1 { display:none; }
    .photoframe1x { display:inline-block; width:100%; padding:0px; }
    .linkbox1 { width:100%; padding:5px; text-align:center; height:auto; }
    .tagbox1 { display:none; }
    .tagbox1x { display:block; position: absolute; text-align:left; margin-left:5px; margin-top:10px; }

}
/* ------------------------------------ */
@media only screen and (max-width : 625px) {

    .leaderboardads { height:150px; }
    .featuredbox-frame { width:50%; }
    .featuredbox-text { font-size:14px; margin-top:-80px; }
    a.picturelink:link { font-size:12px!important; line-height: 16px; display:block; }
    a.picturelink:visited { font-size:12px!important; line-height: 16px; display:block; }
    a.picturelink:active { font-size:12px!important; line-height: 16px; display:block; }
    a.picturelink:hover { font-size:12px!important; line-height: 16px; display:block; }
    .col-xxs-12 { }

    .photoframe1 { display:none; }
    .photoframe1x { display:inline-block; width:100%; padding:0px; }
    .linkbox1 { width:100%; padding:5px; text-align:center; height:auto; }
    .tagbox1 { display:none; }
    .tagbox1x { display:block; position: absolute; text-align:left; margin-left:5px; margin-top:10px; }

}
/* ------------------------------------ */
@media only screen and (max-width : 480px) {
    .paddingbox1 { display:none; }
    .paddingbox4 { padding:0px; }

    .paddingbox6 { padding:0px; }
    .paddingbox7 { padding:0px; }
    .paddingbox8 { padding:0px; }
    .paddingbox9 { padding:0px; }

    .leaderboardads { height:100px; }
    .featuredbox-frame { width:50%; }
    .featuredbox-text { font-size:12px; margin-top:-80px; }
    a.picturelink:link { font-size:14px!important; line-height: 16px; display:block; }
    a.picturelink:visited { font-size:14px!important; line-height: 16px; display:block; }
    a.picturelink:active { font-size:14px!important; line-height: 16px; display:block; }
    a.picturelink:hover { font-size:14px!important; line-height: 16px; display:block; }
    .col-xxs-12 { width:100%; }
    
    .photoframe1 { display:none; }
    .photoframe1x { display:inline-block; width:100%; padding:0px; }
    .linkbox1 { width:100%; padding:5px; text-align:center; height:auto; }
    .tagbox1 { display:none; }
    .tagbox1x { display:block; position: absolute; text-align:left; margin-left:5px; margin-top:10px; }

}
/* ------------------------------------ */
@media only screen and (max-width : 350px) {
    .paddingbox1 { padding:0px; }
    .paddingbox2 { padding:0px; }
    .paddingbox3 { padding:0px; }
    .paddingbox4 { padding:0px; }
    .paddingbox5 { padding:0px; }
    .paddingbox6 { padding:0px; }
    .paddingbox7 { padding:0px; }
    .paddingbox8 { padding:0px; }
    .paddingbox9 { padding:0px; }
    .paddingbox10 { padding:0px; }
    .paddingbox11 { padding:0px; }
    .paddingbox12 { padding:0px; }
    .paddingbox13 { padding:0px; }
    .paddingbox14 { padding:0px; }
    .leaderboardads { height:100px; }
    .featuredbox-frame { width:50%; }
    .featuredbox-text { font-size:10px; margin-top:-70px; }
    a.picturelink:link { font-size:12px!important; line-height: 16px; display:block; }
    a.picturelink:visited { font-size:12px!important; line-height: 16px; display:block; }
    a.picturelink:active { font-size:12px!important; line-height: 16px; display:block; }
    a.picturelink:hover { font-size:12px!important; line-height: 16px; display:block; }
    .col-xxs-12 { width:100%; }

    .photoframe1 { display:none; }
    .photoframe1x { display:inline-block; width:100%; padding:0px; }
    .linkbox1 { width:100%; padding:5px; text-align:center; height:auto; }
    .tagbox1 { display:none; }
    .tagbox1x { display:block; position: absolute; text-align:left; margin-left:5px; margin-top:10px; }

}