<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<!--@@SystemLayoutStart:Head@@-->
<link rel="stylesheet" href="css/layout_index16x.css">
<link rel="stylesheet" href="css/layout_index_home14.css">
<link rel="stylesheet" href="css/layout_topmenu2.css">
<link rel="stylesheet" href="css/layout_footer.css">
<!--@@SystemLayoutEnd:Head@@-->
</head>

<body>
<!--@@SystemLayoutStart:Body@@-->
[##object:obj_navbar_home_top.php##]
<div class="content-top-padding"></div>
[##area:bodycontent##]
[##object:obj_footer.php##]
<!--@@SystemLayoutEnd:Body@@-->
<!--@@SystemLayoutStart:Foot@@-->
<!--@@SystemLayoutEnd:Foot@@-->
</body>
</html>